.wrapper {
    margin-top: 36px;
}

.container {
    position: relative;
}

.container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}

.price {
    font-size: 22px;
    color: #c5113c;
    font-weight: bold;
    margin: 16px;
}